<h1>Homepage (with handlebars)!</h1>
<a href="/login">Login here! (not really)</a>

<section id="IncrementorSection">
  {{{incrementor}}}
</section>
<script type="text/javascript" src="/assets/scripts/home.js"></script>
